.driver-license-form {
    max-width: 400px;
    margin-left: 10px ;
    margin-right: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    text-align: center;
    margin-top: 160px;
  }
  
  .driver-license-form h2 {
    margin-bottom: 10px;
    font-weight: 600;
  }
  
  .driver-license-form p {
    margin-bottom: 20px;
    font-size: 16px;
    color: #666;
  }
  
  .driver-license-form input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
  }
  
  .scan-button,
  .submit-button {
    width: calc(100% - 20px);
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #28a745;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .scan-button {
    background-color: #007bff;
  }
  
  .scan-button:hover,
  .submit-button:hover {
    opacity: 0.9;
  }
  